<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visual Message Sign</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
    <% if (!shared) { %>
        <textarea id="messageInput" rows="4" cols="50" placeholder="Enter your message here..."></textarea>
        <button class="share-button" onclick="shareMessage()">Share Message</button>
        <div class="share-url" id="shareUrl"></div>
    <% } %>
    
    
    <div class="sign-container">
        <div class="pole-left"></div>
        <div class="sign"></div>
        <div class="pole-right"></div>
    </div>
    <script src="/assets/main.js"></script>
    <% if (typeof phrase !== 'undefined' && phrase) { %>
        <script>
            buildWord(`<%= phrase.replace(/\n/g, '[NL]') %>`);
        </script>
    <% } %>
</body>

</html>